<table class="table table-striped col-md-7" align="center">
    <h2 align="center">OFERTAS</h2>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Puesto</th>
      <th scope="col">Description</th>
      <th scope="col">Salario</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Web Development</td>
      <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad ipsam nihil repellendus rerum quod, iste blanditiis delectus.</td>
      <td>25.000€</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Administrativo</td>
      <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad ipsam nihil repellendus rerum quod, iste blanditiis delectus.</td>
      <td>21.000€</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Abogado</td>
      <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate sapiente itaque labore totam velit optio impedit ad beatae temporibus repudiandae dolore dicta, quis voluptatem quam quibusdam exercitationem sit doloribus eligendi.</td>
      <td>24.000€</td>
    </tr>
  </tbody>
</table>

    

