<table class="table table-striped col-md-10" align="center">
    <h2 align="center">OFERTAS</h2>
  <thead>
    <tr>
      <th scope="col">Puesto</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Requisitos</th>
      <th scope="col">Salario</th>
      <th scope="col">Fin de Oferta</th>
      <th scope="col">Operación</th>
    </tr>
  </thead>
  <tbody>
     {{#each offers as |offer|}}
    {{>offer offer=offer }}
  {{else}}
  <p>Empty offer!!</p>
  {{/each}}
  </tbody>
</table>
<div class="container">
  <div class="row">
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <form action="/add" method="POST">
                <div class="form-group">
                    <input type="text" name="post" placeholder="Cual es el puesto?" class="form-control">
                </div>
                <div class="form-group">
                    <textarea name="description" placeholder="Describe" cols="80" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <textarea name="requirements" placeholder="Requisitos" cols="80" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="texto" name="salary" placeholder="Salario" class="form-control">
                </div>
                <div class="form-group">
                    <input type="date" name="endOffer" placeholder="Fin de Oferta" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  Añadir Oferta
                </button>
            </form>
        </div>
    </div>
</div>
</div>
</div