<%- layout('layouts/main') %>

<h1>PERFIL</h1>

<div class="card card-body">
    <h3>Tu Email</h3>
    <h5><%= user.email %></h5>
    <p>
        <h3>Tu Contraseña</h3>
        <h5><%= user.password %></h5>
    </p>
    <p>
        <h3>Tu Id de Usuario</h3>
        <h5><%= user._id%></h5>
    </p>
    <a href="/new-offer" class="btn btn-success" role="button" aria-pressed="true">Añadir Oferta nueva</a>